
<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>Article content</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="__STATIC__/frontstage/css/styles.css" rel="stylesheet">
<link href="__STATIC__/frontstage/css/view.css" rel="stylesheet">
<!-- 返回顶部调用 begin -->
<link href="__STATIC__/frontstage/css/lrtk.css" rel="stylesheet" />
<script type="text/javascript" src="__STATIC__/frontstage/js/jquery.js"></script>
<script type="text/javascript" src="__STATIC__/frontstage/js/js.js"></script>
<!-- 返回顶部调用 end-->
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header>
  <nav id="nav">
    <ul>
      <li><a href="/index.html" >Front page</a></li>
      {foreach $category as $v}
        <li><a href="/index/list?cate_id={$v.cate_id}&page=1" title="{$v.cate_name}">{$v.cate_name}</a></li>
      {/foreach}
    </ul>
    <script src="js/silder.js"></script><!--获取当前页导航 高亮显示标题--> 
  </nav>
</header>
<!--header end-->
<div id="mainbody">
  <div class="blogs">
    <div id="index_view">
      <h2 class="t_nav"><a href="/">Front page</a>
        {foreach $category as $v}
          {if $v.cate_id == $article.cate_id}
            <a href="/index/list?cate_id={$v.cate_id}">{$v.cate_name}</a>
          {/if}
        {/foreach}
      </h2>
      <h1 class="c_titile">{$article.article_title}</h1>
      <p class="box">Created time：{$article.article_time|date='Y-m-d H:i:s'}<span>Edit：{$article.article_writer}</span>Read（{$article.article_click}）</p>
      <ul>
        {$article.article_content|raw}
      </ul>
      <div class="share"> 
        <!-- Baidu Button BEGIN -->
        <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare"> <span class="bds_more">Share：</span> <a class="bds_qzone"></a> <a class="bds_tsina"></a> <a class="bds_tqq"></a> <a class="bds_renren"></a> <a class="bds_t163"></a> <a class="shareCount"></a> </div>
        <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6574585" ></script> 
        <script type="text/javascript" id="bdshell_js"></script> 
        <script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script> 
        <!-- Baidu Button END --> 
      </div>
      <!--
      <div class="otherlink">
        <h2>相关文章</h2>
        <ul>
          <li><a href="/newstalk/mood/2013-07-24/518.html" title="我希望我的爱情是这样的">我希望我的爱情是这样的有种情谊，不是爱情，也算不得友情有种情谊，不是爱情，也算不得友情</a></li>
          <li><a href="/newstalk/mood/2013-07-02/335.html" title="有种情谊，不是爱情，也算不得友情">有种情谊，不是爱情，也算不得友情有种情谊，不是爱情，也算不得友情有种情谊，不是爱情，也算不得友情</a></li>
          <li><a href="/newstalk/mood/2013-07-01/329.html" title="世上最美好的爱情">世上最美好的爱情</a></li>
          <li><a href="/news/read/2013-06-11/213.html" title="爱情没有永远，地老天荒也走不完">爱情没有永远，地老天荒也走不完</a></li>
          <li><a href="/news/s/2013-06-06/24.html" title="爱情的背叛者">爱情的背叛者</a></li>
        </ul>
      </div>
      -->
    </div>
    <!--bloglist end-->
    <aside>
      <!--搜索框
      <div class="search">
        <form class="searchform" method="get" action="#">
          <input type="text" name="s" value="Search" onfocus="this.value=''" onblur="this.value='Search'">
        </form>
      </div>
      -->
      <div class="tuijian">
        <h2>Recommended articles</h2>
        <ol>
          {foreach $ten as $v}
            <li><a href="/index/article?article_id={$v.article_id}">{$v.article_title}</a></li>
          {/foreach}
        </ol>
      </div>
      <div class="toppic">
        <h2>Pictures and Articles</h2>
        <ul>
          {foreach $three as $v}
            <li><a href="/index/article?article_id={$v.article_id}"><img src="__PIC__/{$v.article_img}">{$v.article_title}</a></li>
          {/foreach}
        </ul>
      </div>
      <!--
      <div class="clicks">
        <h2>热门点击</h2>
        <ol>
          <li><span><a href="/">慢生活</a></span><a href="/">有一种思念，是淡淡的幸福,一个心情一行文字</a></li>
          <li><span><a href="/">爱情美文</a></span><a href="/">励志人生-要做一个潇洒的女人</a></li>
          <li><span><a href="/">慢生活</a></span><a href="/">女孩都有浪漫的小情怀——浪漫的求婚词</a></li>
          <li><span><a href="/">博客模板</a></span><a href="/">Green绿色小清新的夏天-个人博客模板</a></li>
          <li><span><a href="/">女生个人博客</a></span><a href="/">女生清新个人博客网站模板</a></li>
          <li><span><a href="/">Wedding</a></span><a href="/">Wedding-婚礼主题、情人节网站模板</a></li>
          <li><span><a href="/">三栏布局</a></span><a href="/">Column 三栏布局 个人网站模板</a></li>
          <li><span><a href="/">个人网站模板</a></span><a href="/">时间煮雨-个人网站模板</a></li>
          <li><span><a href="/">古典风格</a></span><a href="/">花气袭人是酒香—个人网站模板</a></li>
        </ol>
      </div>
      -->
    </aside>
  </div>
  <!--blogs end--> 
</div>
<!--mainbody end-->
<footer>
  <div class="footer-mid">
    <div class="links">
      <h2>Links</h2>
      <ul>
        <li><a href="/">Xiling's blog</a></li>
      </ul>
    </div>
    <div class="visitors">
      <h2>Newest comments</h2>
      <!--
      <dl>
        <dt><img src="__STATIC__/frontstage/images/s8.jpg">
        <dt>
        <dd>DanceSmile
          <time>49分钟前</time>
        </dd>
        <dd>在 <a href="http://www.yangqq.com/jstt/bj/2013-07-28/530.html" class="title">如果要学习web前端开发，需要学习什么？ </a>中评论：</dd>
        <dd>文章非常详细，我很喜欢.前端的工程师很少，我记得几年前yahoo花高薪招聘前端也招不到</dd>
      </dl>
      -->
    </div>
    <section class="flickr">
      <h2>Pictures</h2>
      <ul>
        <li><a href="/"><img src="__STATIC__/frontstage/images/01.jpg"></a></li>
        <li><a href="/"><img src="__STATIC__/frontstage/images/02.jpg"></a></li>
        <li><a href="/"><img src="__STATIC__/frontstage/images/03.jpg"></a></li>
        <li><a href="/"><img src="__STATIC__/frontstage/images/04.jpg"></a></li>
        <li><a href="/"><img src="__STATIC__/frontstage/images/05.jpg"></a></li>
        <li><a href="/"><img src="__STATIC__/frontstage/images/06.jpg"></a></li>
        <li><a href="/"><img src="__STATIC__/frontstage/images/07.jpg"></a></li>
        <li><a href="/"><img src="__STATIC__/frontstage/images/08.jpg"></a></li>
        <li><a href="/"><img src="__STATIC__/frontstage/images/09.jpg"></a></li>
      </ul>
    </section>
  </div>
  <div class="footer-bottom">
    <p>Copyright 2021 Design by <a href="https://www.xiling.ca">Xiling</a></p>
  </div>
</footer>
<!-- jQuery仿腾讯回顶部和建议 代码开始 -->
<div id="tbox"> <a id="togbook" href="/e/tool/gbook/?bid=1"></a> <a id="gotop" href="javascript:void(0)"></a> </div>
<!-- 代码结束 -->
</body>
</html>